In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os 
import csv

In [2]:
ff2019 = pd.read_csv('https://raw.githubusercontent.com/fantasydatapros/data/master/yearly/2019.csv') #importing all of the fantasy football information

In [3]:
ff2020 = pd.read_csv('https://raw.githubusercontent.com/fantasydatapros/data/master/yearly/2020.csv')

In [4]:
ff2000 = pd.read_csv('https://raw.githubusercontent.com/fantasydatapros/data/master/yearly/2000.csv')

In [5]:
ff2001 = pd.read_csv('https://raw.githubusercontent.com/fantasydatapros/data/master/yearly/2001.csv')

In [6]:
ff2002 = pd.read_csv('https://raw.githubusercontent.com/fantasydatapros/data/master/yearly/2002.csv')

In [7]:
ff2003 = pd.read_csv('https://raw.githubusercontent.com/fantasydatapros/data/master/yearly/2003.csv')

In [8]:
ff2004 = pd.read_csv('https://raw.githubusercontent.com/fantasydatapros/data/master/yearly/2004.csv')

In [9]:
ff2005 = pd.read_csv('https://raw.githubusercontent.com/fantasydatapros/data/master/yearly/2005.csv')

In [10]:
ff2006 = pd.read_csv('https://raw.githubusercontent.com/fantasydatapros/data/master/yearly/2006.csv')

In [11]:
ff2007 = pd.read_csv('https://raw.githubusercontent.com/fantasydatapros/data/master/yearly/2007.csv')

In [12]:
ff2008 = pd.read_csv('https://raw.githubusercontent.com/fantasydatapros/data/master/yearly/2008.csv')

In [13]:
ff2009 = pd.read_csv('https://raw.githubusercontent.com/fantasydatapros/data/master/yearly/2009.csv')

In [14]:
ff2010 = pd.read_csv('https://raw.githubusercontent.com/fantasydatapros/data/master/yearly/2010.csv')

In [15]:
ff2011 = pd.read_csv('https://raw.githubusercontent.com/fantasydatapros/data/master/yearly/2011.csv')

In [16]:
ff2012 = pd.read_csv('https://raw.githubusercontent.com/fantasydatapros/data/master/yearly/2012.csv')

In [17]:
ff2013 = pd.read_csv('https://raw.githubusercontent.com/fantasydatapros/data/master/yearly/2013.csv')

In [18]:
ff2014 = pd.read_csv('https://raw.githubusercontent.com/fantasydatapros/data/master/yearly/2014.csv')

In [19]:
ff2015 = pd.read_csv('https://raw.githubusercontent.com/fantasydatapros/data/master/yearly/2015.csv')

In [20]:
ff2016 = pd.read_csv('https://raw.githubusercontent.com/fantasydatapros/data/master/yearly/2016.csv')

In [21]:
ff2017 = pd.read_csv('https://raw.githubusercontent.com/fantasydatapros/data/master/yearly/2017.csv')

In [22]:
ff2018 = pd.read_csv('https://raw.githubusercontent.com/fantasydatapros/data/master/yearly/2018.csv')

In [23]:
merge1 = pd.merge(ff2000,ff2001, on = "Player", how = "outer") #merging two years at a time. I called an outer merge so I would get every player

In [24]:
OOO1O2 = pd.merge(merge1,ff2002, on = "Player", how = "outer")

In [25]:
O3O4=pd.merge(ff2003, ff2004, on = "Player", how = "outer")

In [26]:
O3O4O5 = pd.merge(O3O4,ff2005, on = "Player", how = "outer") #grouping DF in clusters of 3

In [27]:
O6O7 = pd.merge(ff2006,ff2007, on = "Player", how = "outer")

In [28]:
O6O7O8 = pd.merge(O6O7,ff2008, on = "Player", how = "outer")

In [29]:
O910 = pd.merge(ff2009,ff2010, on = "Player", how = "outer")

In [30]:
O91011 = pd.merge(O910,ff2011, on = "Player", how = "outer")

In [31]:
i2i3 = pd.merge(ff2012,ff2013, on = "Player", how = "outer")

In [32]:
i2i3i4 = pd.merge(i2i3,ff2014, on = "Player", how = "outer")

In [33]:
i5i6 = pd.merge(ff2015, ff2016, on = "Player", how = "outer")

In [34]:
i5i6i7 = pd.merge(i5i6,ff2017, on = "Player", how = "outer")

In [35]:
i8i9 = pd.merge(ff2018,ff2019, on = "Player", how = "outer")

In [36]:
i8i92020 = pd.merge(i8i9, ff2020, on = "Player", how = "outer")

In [37]:
OOO1O2.columns #finding out what columns I need to rename so there will be no duplicates

Index(['Unnamed: 0_x', 'Player', 'Tm_x', 'Pos_x', 'Age_x', 'G_x', 'GS_x',
       'Tgt_x', 'Rec_x', 'PassingYds_x', 'PassingTD_x', 'PassingAtt_x',
       'RushingYds_x', 'RushingTD_x', 'RushingAtt_x', 'ReceivingYds_x',
       'ReceivingTD_x', 'FantasyPoints_x', 'Int_x', 'Fumbles_x',
       'FumblesLost_x', 'Unnamed: 0_y', 'Tm_y', 'Pos_y', 'Age_y', 'G_y',
       'GS_y', 'Tgt_y', 'Rec_y', 'PassingYds_y', 'PassingTD_y', 'PassingAtt_y',
       'RushingYds_y', 'RushingTD_y', 'RushingAtt_y', 'ReceivingYds_y',
       'ReceivingTD_y', 'FantasyPoints_y', 'Int_y', 'Fumbles_y',
       'FumblesLost_y', 'Unnamed: 0', 'Tm', 'Pos', 'Age', 'G', 'GS', 'Tgt',
       'Rec', 'PassingYds', 'PassingTD', 'PassingAtt', 'RushingYds',
       'RushingTD', 'RushingAtt', 'ReceivingYds', 'ReceivingTD',
       'FantasyPoints', 'Int', 'Fumbles', 'FumblesLost'],
      dtype='object')

In [38]:
OOO1O2 = OOO1O2.rename(columns = {'Unnamed: 0_x': "index2000", 'Tm_x':"Tm_2000", 'Pos_x': "Pos_2000", 'Age_x': 'Age_2000', 'G_x':'G_2000', 'GS_x':'GS_2000',
       'Tgt_x':'Tgt_2000', 'Rec_x':'Rec_2000', 'PassingYds_x': 'PassingYds_2000', 'PassingTD_x': 'PassingTD_2000', 'PassingAtt_x':'PassingAtt_2000',
       'RushingYds_x':'RushingYds_2000', 'RushingTD_x':'RusingTD_2000', 'RushingAtt_x':'RushingAtt_2000', 
                    'ReceivingYds_x':'RecevingYds_2000',
       'ReceivingTD_x': 'RecevingTD_2000', 'FantasyPoints_x': 'FantasyPoints_2000', 'Int_x':"Int_2000", 
                         'Fumbles_x': 'Fumbeles_2000',
       'FumblesLost_x': "FumblesLost_2000", 'Unnamed: 0_y': 'Index_2001', 'Tm_y': 'Tm_2001', 'Pos_y':'Pos_2001', 
                         'Age_y': 'Age_2001', 'G_y': 'G_2001',
       'GS_y': 'GS_2001', 'Tgt_y': 'Tgt_2001', 'Rec_y': 'Rec_2001', 'PassingYds_y': 'Passingyds_2001', 
                         'PassingTD_y': 'PassingTD_2001', 'PassingAtt_y':'PassingAtt_2001',
       'RushingYds_y': 'RushingYds_2001', 'RushingTD_y': 'RushingTD_2001', 'RushingAtt_y': 'RushingAtt_2001', 
                         'ReceivingYds_y': 'ReceivingYds_2001',
       'ReceivingTD_y': 'ReceivingTD_2001', 'FantasyPoints_y': 'FantasyPoints_2001', 'Int_y': 'Int_2001', 
                         'Fumbles_y':'Fumbles_2001',
       'FumblesLost_y':'FumblesLost_2001', 
                         'Unnamed: 0': 'Index_2002', 'Tm': 'Tm_2002', 'Pos': 'Pos_2002', 'Age': 'Age_2002', 
                         'G': 'G_2002', 'GS': 'GS_2002', 'Tgt': 'Tgt_2002',
       'Rec':'Rec_2002', 'PassingYds':'PassingYds_2002', 'PassingTD': 'PassingTD_2002', 
                         'PassingAtt': 'PassingAtt_2002', 'RushingYds': 'Rushingyds_2002',
       'RushingTD': 'RushingTD_2002', 'RushingAtt': 'RushingAtt_2002', 'ReceivingYds':'ReceivingYds_2002', 'ReceivingTD':'ReceivingTD_2002',
       'FantasyPoints': 'FantasyPoints_2002', 
                                  'Int': 'Int_2002', 'Fumbles': 'Fumbles_2002', 'FumblesLost': 'FumblesLost_2002'}) #renaming columns

In [39]:
O3O4O5 = O3O4O5.rename(columns = {'Unnamed: 0_x': "index2003", 'Tm_x':"Tm_2003", 'Pos_x': "Pos_2003", 
                         'Age_x': 'Age_2003', 'G_x':'G_2003', 'GS_x':'GS_2003',
       'Tgt_x':'Tgt_2003', 'Rec_x':'Rec_2003', 'PassingYds_x': 'PassingYds_2003',
                         'PassingTD_x': 'PassingTD_2003', 'PassingAtt_x':'PassingAtt_2003',
       'RushingYds_x':'RushingYds_2003', 'RushingTD_x':'RusingTD_2003', 'RushingAtt_x':'RushingAtt_2003', 
                    'ReceivingYds_x':'RecevingYds_2003',
       'ReceivingTD_x': 'RecevingTD_2003', 'FantasyPoints_x': 'FantasyPoints_2003', 'Int_x':"Int_2003", 
                         'Fumbles_x': 'Fumbeles_2003',
       'FumblesLost_x': "FumblesLost_2003", 'Unnamed: 0_y': 'Index_2004', 'Tm_y': 'Tm_2004', 'Pos_y':'Pos_2004', 
                         'Age_y': 'Age_2004', 'G_y': 'G_2004',
       'GS_y': 'GS_2004', 'Tgt_y': 'Tgt_2004', 'Rec_y': 'Rec_2004', 'PassingYds_y': 'Passingyds_2004', 
                         'PassingTD_y': 'PassingTD_2004', 'PassingAtt_y':'PassingAtt_2004',
       'RushingYds_y': 'RushingYds_2004', 'RushingTD_y': 'RushingTD_2004', 'RushingAtt_y': 'RushingAtt_2004', 
                         'ReceivingYds_y': 'ReceivingYds_2004',
       'ReceivingTD_y': 'ReceivingTD_2004', 'FantasyPoints_y': 'FantasyPoints_2004', 'Int_y': 'Int_2004', 
                         'Fumbles_y':'Fumbles_2004',
       'FumblesLost_y':'FumblesLost_2004', 
                         'Unnamed: 0': 'Index_2005', 'Tm': 'Tm_2005', 'Pos': 'Pos_2005', 'Age': 'Age_2005', 
                         'G': 'G_2005', 'GS': 'GS_2005', 'Tgt': 'Tgt_2005',
       'Rec':'Rec_2005', 'PassingYds':'PassingYds_2005', 'PassingTD': 'PassingTD_2005', 
                         'PassingAtt': 'PassingAtt_2005', 'RushingYds': 'Rushingyds_2005',
       'RushingTD': 'RushingTD_2005', 'RushingAtt': 'RushingAtt_2005', 'ReceivingYds':'ReceivingYds_2005', 
                         'ReceivingTD':'ReceivingTD_2005',
       'FantasyPoints': 'FantasyPoints_2005', 'Int': 'Int_2005', 'Fumbles': 'Fumbles_2005', 
                         'FumblesLost': 'FumblesLost_2005'})

In [40]:
O6O7O8 = O6O7O8.rename(columns = {'Unnamed: 0_x': "index2006", 'Tm_x':"Tm_2006", 'Pos_x': "Pos_2006", 
                         'Age_x': 'Age_2006', 'G_x':'G_2006', 'GS_x':'GS_2006',
       'Tgt_x':'Tgt_2006', 'Rec_x':'Rec_2006', 'PassingYds_x': 'PassingYds_2006',
                         'PassingTD_x': 'PassingTD_2006', 'PassingAtt_x':'PassingAtt_2006',
       'RushingYds_x':'RushingYds_2006', 'RushingTD_x':'RusingTD_2006', 'RushingAtt_x':'RushingAtt_2006', 
                    'ReceivingYds_x':'RecevingYds_2006',
       'ReceivingTD_x': 'RecevingTD_2006', 'FantasyPoints_x': 'FantasyPoints_2006', 'Int_x':"Int_2006", 
                         'Fumbles_x': 'Fumbeles_2006',
       'FumblesLost_x': "FumblesLost_2006", 'Unnamed: 0_y': 'Index_2007', 'Tm_y': 'Tm_2007', 'Pos_y':'Pos_2007', 
                         'Age_y': 'Age_2007', 'G_y': 'G_2007',
       'GS_y': 'GS_2007', 'Tgt_y': 'Tgt_2007', 'Rec_y': 'Rec_2007', 'PassingYds_y': 'Passingyds_2007', 
                         'PassingTD_y': 'PassingTD_2007', 'PassingAtt_y':'PassingAtt_2007',
       'RushingYds_y': 'RushingYds_2007', 'RushingTD_y': 'RushingTD_2007', 'RushingAtt_y': 'RushingAtt_2007', 
                         'ReceivingYds_y': 'ReceivingYds_2007',
       'ReceivingTD_y': 'ReceivingTD_2007', 'FantasyPoints_y': 'FantasyPoints_2007', 'Int_y': 'Int_2007', 
                         'Fumbles_y':'Fumbles_2007',
       'FumblesLost_y':'FumblesLost_2007', 
                         'Unnamed: 0': 'Index_2008', 'Tm': 'Tm_2008', 'Pos': 'Pos_2008', 'Age': 'Age_2008', 
                         'G': 'G_2008', 'GS': 'GS_2008', 'Tgt': 'Tgt_2008',
       'Rec':'Rec_2008', 'PassingYds':'PassingYds_2008', 'PassingTD': 'PassingTD_2008', 
                         'PassingAtt': 'PassingAtt_2008', 'RushingYds': 'Rushingyds_2008',
       'RushingTD': 'RushingTD_2008', 'RushingAtt': 'RushingAtt_2008', 'ReceivingYds':'ReceivingYds_2008', 
                         'ReceivingTD':'ReceivingTD_2008',
       'FantasyPoints': 'FantasyPoints_2008', 'Int': 'Int_2008', 'Fumbles': 'Fumbles_2008', 
                         'FumblesLost': 'FumblesLost_2008'})

In [41]:
O91011 = O91011.rename(columns = {'Unnamed: 0_x': "index2009", 'Tm_x':"Tm_2009", 'Pos_x': "Pos_2009", 
                         'Age_x': 'Age_2009', 'G_x':'G_2009', 'GS_x':'GS_2009',
       'Tgt_x':'Tgt_2009', 'Rec_x':'Rec_2009', 'PassingYds_x': 'PassingYds_2009',
                         'PassingTD_x': 'PassingTD_2009', 'PassingAtt_x':'PassingAtt_2009',
       'RushingYds_x':'RushingYds_2009', 'RushingTD_x':'RusingTD_2009', 'RushingAtt_x':'RushingAtt_2009', 
                    'ReceivingYds_x':'RecevingYds_2009',
       'ReceivingTD_x': 'RecevingTD_2009', 'FantasyPoints_x': 'FantasyPoints_2009', 'Int_x':'Int_2009', 
                         'Fumbles_x': 'Fumbeles_2009',
       'FumblesLost_x': "FumblesLost_2009", 'Unnamed: 0_y': 'Index_2010', 'Tm_y': 'Tm_2010', 'Pos_y':'Pos_2010', 
                         'Age_y': 'Age_2010', 'G_y': 'G_2010',
       'GS_y': 'GS_2010', 'Tgt_y': 'Tgt_2010', 'Rec_y': 'Rec_2010', 'PassingYds_y': 'Passingyds_2010', 
                         'PassingTD_y': 'PassingTD_2010', 'PassingAtt_y':'PassingAtt_2010',
       'RushingYds_y': 'RushingYds_2010', 'RushingTD_y': 'RushingTD_2010', 'RushingAtt_y': 'RushingAtt_2010', 
                         'ReceivingYds_y': 'ReceivingYds_2010',
       'ReceivingTD_y': 'ReceivingTD_2010', 'FantasyPoints_y': 'FantasyPoints_2010', 'Int_y': 'Int_2010', 
                         'Fumbles_y':'Fumbles_2010',
       'FumblesLost_y':'FumblesLost_2010', 
                         'Unnamed: 0': 'Index_2011', 'Tm': 'Tm_2011', 'Pos': 'Pos_2011', 'Age': 'Age_2011', 
                         'G': 'G_2011', 'GS': 'GS_2011', 'Tgt': 'Tgt_2011',
       'Rec':'Rec_2011', 'PassingYds':'PassingYds_2011', 'PassingTD': 'PassingTD_2011', 
                         'PassingAtt': 'PassingAtt_2011', 'RushingYds': 'Rushingyds_2011',
       'RushingTD': 'RushingTD_2011', 'RushingAtt': 'RushingAtt_2011', 'ReceivingYds':'ReceivingYds_2011', 
                         'ReceivingTD':'ReceivingTD_2011',
       'FantasyPoints': 'FantasyPoints_2011', 'Int': 'Int_2011', 'Fumbles': 'Fumbles_2011', 
                         'FumblesLost': 'FumblesLost_2011'})

In [42]:
i2i3i4 = i2i3i4.rename(columns = {'Unnamed: 0_x': "index2012", 'Tm_x':"Tm_2012", 'Pos_x': "Pos_2012", 
                         'Age_x': 'Age_2012', 'G_x':'G_2012', 'GS_x':'GS_2012',
       'Tgt_x':'Tgt_2012', 'Rec_x':'Rec_2012', 'PassingYds_x': 'PassingYds_2012',
                         'PassingTD_x': 'PassingTD_2012', 'PassingAtt_x':'PassingAtt_2012',
       'RushingYds_x':'RushingYds_2012', 'RushingTD_x':'RusingTD_2012', 'RushingAtt_x':'RushingAtt_2012', 
                    'ReceivingYds_x':'RecevingYds_2012',
       'ReceivingTD_x': 'RecevingTD_2012', 'FantasyPoints_x': 'FantasyPoints_2012', 'Int_x':'Int_2012', 
                         'Fumbles_x': 'Fumbeles_2012',
       'FumblesLost_x': "FumblesLost_2012", 'Unnamed: 0_y': 'Index_2013', 'Tm_y': 'Tm_2013', 'Pos_y':'Pos_2013', 
                         'Age_y': 'Age_2013', 'G_y': 'G_2013',
       'GS_y': 'GS_2013', 'Tgt_y': 'Tgt_2013', 'Rec_y': 'Rec_2013', 'PassingYds_y': 'Passingyds_2013', 
                         'PassingTD_y': 'PassingTD_2013', 'PassingAtt_y':'PassingAtt_2013',
       'RushingYds_y': 'RushingYds_2013', 'RushingTD_y': 'RushingTD_2013', 'RushingAtt_y': 'RushingAtt_2013', 
                         'ReceivingYds_y': 'ReceivingYds_2013',
       'ReceivingTD_y': 'ReceivingTD_2013', 'FantasyPoints_y': 'FantasyPoints_2013', 'Int_y': 'Int_2013', 
                         'Fumbles_y':'Fumbles_2013',
       'FumblesLost_y':'FumblesLost_2013', 
                         'Unnamed: 0': 'Index_2014', 'Tm': 'Tm_2014', 'Pos': 'Pos_2014', 'Age': 'Age_2014', 
                         'G': 'G_2014', 'GS': 'GS_2014', 'Tgt': 'Tgt_2014',
       'Rec':'Rec_2014', 'PassingYds':'PassingYds_2014', 'PassingTD': 'PassingTD_2014', 
                         'PassingAtt': 'PassingAtt_2014', 'RushingYds': 'Rushingyds_2014',
       'RushingTD': 'RushingTD_2014', 'RushingAtt': 'RushingAtt_2014', 'ReceivingYds':'ReceivingYds_2014', 
                         'ReceivingTD':'ReceivingTD_2014',
       'FantasyPoints': 'FantasyPoints_2014', 'Int': 'Int_2014', 'Fumbles': 'Fumbles_2014', 
                         'FumblesLost': 'FumblesLost_2014'})

In [43]:
i5i6i7 = i5i6i7.rename(columns = {'Unnamed: 0_x': "index2015", 'Tm_x':"Tm_2015", 'Pos_x': "Pos_2015", 
                         'Age_x': 'Age_2015', 'G_x':'G_2015', 'GS_x':'GS_2015',
       'Tgt_x':'Tgt_2015', 'Rec_x':'Rec_2015', 'PassingYds_x': 'PassingYds_2015',
                         'PassingTD_x': 'PassingTD_2015', 'PassingAtt_x':'PassingAtt_2015',
       'RushingYds_x':'RushingYds_2015', 'RushingTD_x':'RusingTD_2015', 'RushingAtt_x':'RushingAtt_2015', 
                    'ReceivingYds_x':'RecevingYds_2015',
       'ReceivingTD_x': 'RecevingTD_2015', 'FantasyPoints_x': 'FantasyPoints_2015', 'Int_x':'Int_2015', 
                         'Fumbles_x': 'Fumbeles_2015',
       'FumblesLost_x': "FumblesLost_2015", 'Unnamed: 0_y': 'Index_2016', 'Tm_y': 'Tm_2016', 'Pos_y':'Pos_2016', 
                         'Age_y': 'Age_2016', 'G_y': 'G_2016',
       'GS_y': 'GS_2016', 'Tgt_y': 'Tgt_2016', 'Rec_y': 'Rec_2016', 'PassingYds_y': 'Passingyds_2016', 
                         'PassingTD_y': 'PassingTD_2016', 'PassingAtt_y':'PassingAtt_2016',
       'RushingYds_y': 'RushingYds_2016', 'RushingTD_y': 'RushingTD_2016', 'RushingAtt_y': 'RushingAtt_2016', 
                         'ReceivingYds_y': 'ReceivingYds_2016',
       'ReceivingTD_y': 'ReceivingTD_2016', 'FantasyPoints_y': 'FantasyPoints_2016', 'Int_y': 'Int_2016', 
                         'Fumbles_y':'Fumbles_2016',
       'FumblesLost_y':'FumblesLost_2016', 
                         'Unnamed: 0': 'Index_2017', 'Tm': 'Tm_2017', 'Pos': 'Pos_2017', 'Age': 'Age_2017', 
                         'G': 'G_2017', 'GS': 'GS_2017', 'Tgt': 'Tgt_2017',
       'Rec':'Rec_2017', 'PassingYds':'PassingYds_2017', 'PassingTD': 'PassingTD_2017', 
                         'PassingAtt': 'PassingAtt_2017', 'RushingYds': 'Rushingyds_2017',
       'RushingTD': 'RushingTD_2017', 'RushingAtt': 'RushingAtt_2017', 'ReceivingYds':'ReceivingYds_2017', 
                         'ReceivingTD':'ReceivingTD_2017',
       'FantasyPoints': 'FantasyPoints_2017', 'Int': 'Int_2017', 'Fumbles': 'Fumbles_2017', 
                         'FumblesLost': 'FumblesLost_2017'})

In [44]:
i8i92020 = i8i92020.rename(columns = {'Unnamed: 0_x': "index2018", 'Tm_x':"Tm_2018", 'Pos_x': "Pos_2018", 
                         'Age_x': 'Age_2018', 'G_x':'G_2018', 'GS_x':'GS_2018',
       'Tgt_x':'Tgt_2085', 'Rec_x':'Rec_2018', 'PassingYds_x': 'PassingYds_2018',
                         'PassingTD_x': 'PassingTD_2018', 'PassingAtt_x':'PassingAtt_2018',
       'RushingYds_x':'RushingYds_2018', 'RushingTD_x':'RusingTD_2018', 'RushingAtt_x':'RushingAtt_2018', 
                    'ReceivingYds_x':'RecevingYds_2018',
       'ReceivingTD_x': 'RecevingTD_2018', 'FantasyPoints_x': 'FantasyPoints_2018', 'Int_x':'Int_2018', 
                         'Fumbles_x': 'Fumbeles_2018',
       'FumblesLost_x': "FumblesLost_2018", 'Unnamed: 0_y': 'Index_2019', 'Tm_y': 'Tm_2019', 'Pos_y':'Pos_2019', 
                         'Age_y': 'Age_2019', 'G_y': 'G_2019',
       'GS_y': 'GS_2019', 'Tgt_y': 'Tgt_2019', 'Rec_y': 'Rec_2019', 'PassingYds_y': 'Passingyds_2019', 
                         'PassingTD_y': 'PassingTD_2019', 'PassingAtt_y':'PassingAtt_2019',
       'RushingYds_y': 'RushingYds_2019', 'RushingTD_y': 'RushingTD_2019', 'RushingAtt_y': 'RushingAtt_2019', 
                         'ReceivingYds_y': 'ReceivingYds_2019',
       'ReceivingTD_y': 'ReceivingTD_2019', 'FantasyPoints_y': 'FantasyPoints_2019', 'Int_y': 'Int_2019', 
                         'Fumbles_y':'Fumbles_2019',
       'FumblesLost_y':'FumblesLost_2019', 
                         'Unnamed: 0': 'Index_2020', 'Tm': 'Tm_2020', 'Pos': 'Pos_2020', 'Age': 'Age_2020', 
                         'G': 'G_2020', 'GS': 'GS_2020', 'Tgt': 'Tgt_2020',
       'Rec':'Rec_2020', 'PassingYds':'PassingYds_2020', 'PassingTD': 'PassingTD_2020', 
                         'PassingAtt': 'PassingAtt_2020', 'RushingYds': 'Rushingyds_2020',
       'RushingTD': 'RushingTD_2020', 'RushingAtt': 'RushingAtt_2020', 'ReceivingYds':'ReceivingYds_2020', 
                         'ReceivingTD':'ReceivingTD_2020',
       'FantasyPoints': 'FantasyPoints_2020', 'Int': 'Int_2020', 'Fumbles': 'Fumbles_2020', 
                         'FumblesLost': 'FumblesLost_2020'})

In [45]:
combine2000 = pd.read_csv('archive (1)/2000_combine.csv') #uploading all of the combine data

In [46]:
combine2001 = pd.read_csv('archive (1)/2001_combine.csv')

In [47]:
combine2002 = pd.read_csv('archive (1)/2002_combine.csv')

In [48]:
combine2003 = pd.read_csv('archive (1)/2003_combine.csv')

In [49]:
combine2004 = pd.read_csv('archive (1)/2004_combine.csv')

In [50]:
combine2005 = pd.read_csv('archive (1)/2005_combine.csv')

In [51]:
combine2006 = pd.read_csv('archive (1)/2006_combine.csv')

In [52]:
combine2007 = pd.read_csv('archive (1)/2007_combine.csv')

In [53]:
combine2008 = pd.read_csv('archive (1)/2008_combine.csv')

In [54]:
combine2009 = pd.read_csv('archive (1)/2009_combine.csv')

In [55]:
combine2010 = pd.read_csv('archive (1)/2010_combine.csv')

In [56]:
combine2011 = pd.read_csv('archive (1)/2011_combine.csv')

In [57]:
combine2012 = pd.read_csv('archive (1)/2012_combine.csv')

In [58]:
combine2013 = pd.read_csv('archive (1)/2013_combine.csv')

In [59]:
combine2014 = pd.read_csv('archive (1)/2014_combine.csv')

In [60]:
combine2015 = pd.read_csv('archive (1)/2015_combine.csv')

In [61]:
combine2016 = pd.read_csv('archive (1)/2016_combine.csv')

In [62]:
combine2017 = pd.read_csv('archive (1)/2017_combine.csv')

In [63]:
combine2018 = pd.read_csv('archive (1)/2018_combine.csv')

In [64]:
combine2019 = pd.read_csv('archive (1)/2019_combine.csv')

In [65]:
combine2020 = pd.read_csv('archive (1)/2020_combine.csv')

In [66]:
path = 'archive (1)'#combining all of the uploads into one large DF

In [67]:
allfiles = os.listdir(path)

In [68]:
csv_files = [f for f in allfiles if f.endswith('.csv')]

In [69]:
dflist = []#list of the csv files to add

In [70]:
dflist = []#process to upload them all at once 
for csv in csv_files:
    filepath = os.path.join(path, csv)
    try:
        df = pd.read_csv(filepath)
        dflist.append(df)
    except UnicodeDecodeError:
        try:
            df = pd.read_csv(filepath, sep = '\t', encoding = 'utf-16')
            dflist.append(df)
        except Exception as e:
            print(f"Could not read file {csv} because of error: {e}")
    
    except Exception as e:
        print(f"Could not read file {csv} because of error: {e}")

In [71]:
FullCombine_df = pd.concat(dflist, ignore_index=True)

In [72]:
FullCombine_df = FullCombine_df.fillna(0)

In [73]:
FullCombine_df

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle
0,Khalid Abdullah,OLB,Mars Hill,6-2,227.0,4.61,36.5,26.0,126.0,7.13,4.25
1,Anthony Adams,DT,Penn State,6-0,299.0,5.13,30.5,0.0,109.0,7.68,4.59
2,Sam Aiken,WR,North Carolina,6-2,209.0,4.59,39.5,0.0,121.0,7.22,0.00
3,Paul Arnold,WR,Washington,6-1,213.0,4.53,40.5,0.0,131.0,6.84,4.11
4,B.J. Askew,RB,Michigan,6-2,241.0,4.60,0.0,0.0,0.0,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...
7675,Carlos Wright,WR,Tennessee State,6-1,203.0,4.65,34.0,0.0,122.0,7.12,4.31
7676,Jason Wright,RB,Northwestern,5-10,210.0,4.68,30.0,0.0,111.0,7.35,4.12
7677,Dexter Wynn,CB,Colorado State,5-9,175.0,4.49,39.0,13.0,123.0,6.70,3.90
7678,Kirk Yliniemi,K,Oregon State,6-0,214.0,4.69,0.0,0.0,0.0,0.00,0.00
7679,Kevin Youngblood,WR,Clemson,6-4,213.0,4.64,34.0,0.0,0.0,0.00,0.00

In [74]:
FullCombine_df.to_csv('AllCombine')

In [75]:
combine2000

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle
0,John Abraham,OLB,South Carolina,6-4,252,4.55,NaN,NaN,NaN,NaN,NaN
1,Shaun Alexander,RB,Alabama,6-0,218,4.58,NaN,NaN,NaN,NaN,NaN
2,Darnell Alford,OT,Boston Col.,6-4,334,5.56,25.0,23.0,94.0,8.48,4.98
3,Kyle Allamon,TE,Texas Tech,6-2,253,4.97,29.0,NaN,104.0,7.29,4.49
4,Rashard Anderson,CB,Jackson State,6-2,206,4.55,34.0,NaN,123.0,7.18,4.15
...,...,...,...,...,...,...,...,...,...,...,...
316,Cedric Woodard,DT,Texas,6-2,290,5.21,30.5,23.0,109.0,NaN,NaN
317,Destry Wright,RB,Jackson State,5-11,216,4.84,29.5,15.0,112.0,7.15,4.41
318,Spergon Wynn,QB,Texas State,6-3,229,4.91,34.0,NaN,108.0,7.71,4.59
319,Bashir Yamini,WR,Iowa,6-3,191,4.53,33.0,NaN,130.0,7.09,4.18
320,Brian Young,DE,Texas-El Paso,6-2,278,4.94,29.5,27.0,106.0,7.20,4.47

In [76]:
RASDF = pd.read_csv('RAS.csv') #uploading RASDF

In [77]:
del RASDF['Main Menu']

In [78]:
RASDF = RASDF.fillna(0) #dropping NA

In [79]:
RASDF = RASDF.rename(columns = {'Unnamed: 1': "Player", "Unnamed: 2" : "Position", "Unnamed: 3": "Year",
                                "Unnamed: 4": "School","Unnamed: 5":"RAS Score","Unnamed: 6":"All Time Score"})

In [80]:
RASDF

,Player,Position,Year,School,RAS Score,All Time Score
0,Name,Pos,Year,College,RAS,AllTime
1,Adrian White,SS,1987,Florida,0,0
2,Al Smith,LB,1987,Utah State,6.45,4.55
3,Albert Bell,WR,1987,Alabama,0.26,0.49
4,Albert Reese,TE,1987,Southern Methodist,2.35,1.54
...,...,...,...,...,...,...
24901,Jordan Rhodes,OG,2023,Arkansas State,0,0
24902,Kaylan Wiggins,QB,2023,Southeastern Florida,3.19,3.19
24903,Tanner Ingle,FS,2023,North Carolina State,0,0
24904,Trevor Reid,OT,2023,Louisville,9.61,9.61
24905,Ethan Evans,PK,2023,Wingate,0,0

In [81]:
merge1 = pd.merge(OOO1O2,O3O4O5, on = "Player", how = "outer")

In [82]:
merge2 = pd.merge(merge1,O6O7O8,on = "Player", how = "outer" )

In [83]:
merge3 = pd.merge(merge2, O91011,on = "Player", how = "outer" )

In [84]:
merge4 = pd.merge(merge3, i2i3i4,on = "Player", how = "outer" )

In [85]:
merge5 = pd.merge(merge4, i5i6i7,on = "Player", how = "outer" )

In [86]:
FullFFmerge = pd.merge(merge5, i8i92020,on = "Player", how = "outer" )#merging the groups of 3

In [87]:
FullFFmerge.columns

Index(['index2000', 'Player', 'Tm_2000', 'Pos_2000', 'Age_2000', 'G_2000',
       'GS_2000', 'Tgt_2000', 'Rec_2000', 'PassingYds_2000',
       ...
       'PassingAtt_2020', 'Rushingyds_2020', 'RushingTD_2020',
       'RushingAtt_2020', 'ReceivingYds_2020', 'ReceivingTD_2020',
       'FantasyPoints_2020', 'Int_2020', 'Fumbles_2020', 'FumblesLost_2020'],
      dtype='object', length=420)

In [88]:
FullFFmerge = FullFFmerge.fillna(0)

In [89]:
FullFFmerge['Total Fantasy Points'] = FullFFmerge['FantasyPoints_2020']+FullFFmerge['FantasyPoints_2019']+FullFFmerge['FantasyPoints_2018']+FullFFmerge['FantasyPoints_2017']+FullFFmerge['FantasyPoints_2016']+ FullFFmerge['FantasyPoints_2015']+FullFFmerge['FantasyPoints_2014']+FullFFmerge['FantasyPoints_2013']+FullFFmerge['FantasyPoints_2012']+FullFFmerge['FantasyPoints_2011']+FullFFmerge['FantasyPoints_2010']+FullFFmerge['FantasyPoints_2009']+FullFFmerge['FantasyPoints_2008']+FullFFmerge['FantasyPoints_2007']+FullFFmerge['FantasyPoints_2006']+FullFFmerge['FantasyPoints_2005']+FullFFmerge['FantasyPoints_2004']+FullFFmerge['FantasyPoints_2003']+FullFFmerge['FantasyPoints_2002']+FullFFmerge['FantasyPoints_2001']+FullFFmerge['FantasyPoints_2000']#adding the year by year fantasy football to find the total

In [90]:
FullFFmerge #summary table of fantasy footbal points from 2000-2020

,index2000,Player,Tm_2000,Pos_2000,Age_2000,G_2000,GS_2000,Tgt_2000,Rec_2000,PassingYds_2000,...,Rushingyds_2020,RushingTD_2020,RushingAtt_2020,ReceivingYds_2020,ReceivingTD_2020,FantasyPoints_2020,Int_2020,Fumbles_2020,FumblesLost_2020,Total Fantasy Points
0,0.0,Marshall Faulk,STL,RB,27.0,14.0,14.0,113.0,81.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1665.10
1,1.0,Edgerrin James,IND,RB,22.0,16.0,16.0,87.0,63.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2124.10
2,2.0,Daunte Culpepper,MIN,QB,23.0,16.0,16.0,0.0,0.0,3937.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1741.72
3,3.0,Jeff Garcia,SFO,QB,30.0,16.0,16.0,0.0,0.0,4278.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1668.22
4,4.0,Eddie George,TEN,RB,27.0,16.0,16.0,65.0,50.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1024.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4347,0.0,Kevin Rader,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
4348,0.0,Easton Stick,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
4349,0.0,Caleb Wilson,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
4350,0.0,Adrian Killins,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,-12.0,0.0,1.0,2.0,0.0,-1.0,0.0,0.0,0.0,-1.00
4351,0.0,Kendall Hinton,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,7.0,0.0,2.0,0.0,0.0,-3.0,2.0,0.0,0.0,-3.00

In [91]:
RASDF #RASDF summary

,Player,Position,Year,School,RAS Score,All Time Score
0,Name,Pos,Year,College,RAS,AllTime
1,Adrian White,SS,1987,Florida,0,0
2,Al Smith,LB,1987,Utah State,6.45,4.55
3,Albert Bell,WR,1987,Alabama,0.26,0.49
4,Albert Reese,TE,1987,Southern Methodist,2.35,1.54
...,...,...,...,...,...,...
24901,Jordan Rhodes,OG,2023,Arkansas State,0,0
24902,Kaylan Wiggins,QB,2023,Southeastern Florida,3.19,3.19
24903,Tanner Ingle,FS,2023,North Carolina State,0,0
24904,Trevor Reid,OT,2023,Louisville,9.61,9.61
24905,Ethan Evans,PK,2023,Wingate,0,0

In [92]:
FullCombine_df #combine data from 2000-2019

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle
0,Khalid Abdullah,OLB,Mars Hill,6-2,227.0,4.61,36.5,26.0,126.0,7.13,4.25
1,Anthony Adams,DT,Penn State,6-0,299.0,5.13,30.5,0.0,109.0,7.68,4.59
2,Sam Aiken,WR,North Carolina,6-2,209.0,4.59,39.5,0.0,121.0,7.22,0.00
3,Paul Arnold,WR,Washington,6-1,213.0,4.53,40.5,0.0,131.0,6.84,4.11
4,B.J. Askew,RB,Michigan,6-2,241.0,4.60,0.0,0.0,0.0,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...
7675,Carlos Wright,WR,Tennessee State,6-1,203.0,4.65,34.0,0.0,122.0,7.12,4.31
7676,Jason Wright,RB,Northwestern,5-10,210.0,4.68,30.0,0.0,111.0,7.35,4.12
7677,Dexter Wynn,CB,Colorado State,5-9,175.0,4.49,39.0,13.0,123.0,6.70,3.90
7678,Kirk Yliniemi,K,Oregon State,6-0,214.0,4.69,0.0,0.0,0.0,0.00,0.00
7679,Kevin Youngblood,WR,Clemson,6-4,213.0,4.64,34.0,0.0,0.0,0.00,0.00